
                                        /* Card6 styles*/

.cardss {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    padding: 3rem;
}
  
.card6 {
    display: flex;
    flex-direction: column;
    flex: 1 0 300px;
    max-width: 450px;
    overflow: hidden;
    background: #ffffff;
    color: #000000;
    border-radius: 5px;
    box-shadow: 3px 2px 14px rgba(255,255,255,0.2);
    text-decoration: none;
    font-size: 1rem;
    transition: all 200ms ease-in-out;
} 
.card6:hover {
      transform: translateY(-1rem);
      box-shadow: 2px 3px 18px rgba(253, 88, 88, 0.4);
}
  
.card__image {
      flex: 0 0 120px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
}
  
.card__content {
      display: flex;
      flex-direction: column;
      height: 100%;
      padding: 1rem;
}
  
.card__title {
      font-size: 1.75rem;
      font-weight: 700;
      margin-bottom: 0.5rem;
}
  
.card__snippet {
      margin-bottom: 0.5rem;
}
  
.card__readmore {
      margin-top: auto;
      text-transform: uppercase;
      font-weight: 700;
}
  








                                        /* Card7 styles*/




.card7{
    position: relative;
    width: 300px;
    height: 420px;
    background: white;
    margin: 20px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 15px 25px rgb(251, 255, 3);
    transition: 0.5s;
}


.card7-container .container:hover .card7{
    filter:blur(20px);
    transform: scale(0.9);
    opacity: 0.5;
}


.card7-container .container:hover .card7:hover{
    filter:blur(0px);
    transform: scale(1.2);
    opacity: 1;
}

.circlee{
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    /* clip-path: circle(180px at center 0); */
    text-align: center;
}


.circle-text{
    display: block;
    position: absolute;
    color: yellow ;
    /* font-size: 1.5em; */
    /* padding: 30px 0; */
    top:50%
}

.contentt{
    position: absolute;
    /* bottom: 10px;
     */
     top: 65%;
    /* color: black; */
    text-align: center;
    /* page-break-after: 20px; */
}


.contentt p{
    color: black;
}





.card7:nth-child(1) .circlee,
.card7:nth-child(1) .circlee h5
{
    background: orange;
}



.card7:nth-child(2) .circlee,
.card7:nth-child(2) .circlee h5
{
    background: rgb(231, 10, 10);
}


.card7:nth-child(3) .circlee,
.card7:nth-child(3) .circlee h5
{
    background: rgb(144, 30, 179)
}






                /*  ON HOVER Styles */





.card11{
    transition: all 200ms ease-in-out;
} 
.card11:hover {
      transform: translateY(-1rem);
      box-shadow: 2px 3px 18px rgb(255,255,255)
}




.card4{
    transition: all 200ms ease-in-out;
} 
.card4:hover {
      transform: translateY(-1rem);
      box-shadow: 2px 3px 18px rgb(109, 238, 109)
}





.card1{
    transition: all 200ms ease-in-out;
} 
.card1:hover {
      transform: translateY(-1rem);
      box-shadow: 2px 3px 18px rgb(84, 84, 255)
}



.card2{
    transition: all 200ms ease-in-out;
} 
.card2:hover {
      transform: translateY(-1rem);
      box-shadow: 2px 3px 18px rgb(250, 250, 55)
}


.card3{
    transition: all 200ms ease-in-out;
} 
.card3:hover {
      transform: translateY(-1rem);
      box-shadow: 2px 3px 18px rgb(255, 96, 96)
}



























/* .card:hover{
    transform: scale(1.1);
    transition:  .5s ease;


} */


/* .card{
    margin-right: 30px;
}
.wrapper{
    margin: 60px 10px 10px;
} */