
                                        /* Card6 styles*/

.cardss {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    padding: 3rem;
}
  
.card6 {
    display: flex;
    flex-direction: column;
    flex: 1 0 300px;
    max-width: 450px;
    overflow: hidden;
    background: #ffffff;
    color: #000000;
    border-radius: 5px;
    box-shadow: 3px 2px 14px rgba(255,255,255,0.2);
    text-decoration: none;
    font-size: 1rem;
    transition: all 200ms ease-in-out;
} 
.card6:hover {
      transform: translateY(-1rem);
      box-shadow: 2px 3px 18px rgba(253, 88, 88, 0.4);
}
  
.card__image {
      flex: 0 0 120px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
}
  
.card__content {
      display: flex;
      flex-direction: column;
      height: 100%;
      padding: 1rem;
}
  
.card__title {
      font-size: 1.75rem;
      font-weight: 700;
      margin-bottom: 0.5rem;
}
  
.card__snippet {
      margin-bottom: 0.5rem;
}
  
.card__readmore {
      margin-top: auto;
      text-transform: uppercase;
      font-weight: 700;
}
  


                /*  ON HOVER Styles */

.card1{
    transition: all 200ms ease-in-out;
} 
.card1:hover {
      transform: translateY(-1rem);
      box-shadow: 2px 3px 18px rgb(84, 84, 255)
}



.card2{
    transition: all 200ms ease-in-out;
} 
.card2:hover {
      transform: translateY(-1rem);
      box-shadow: 2px 3px 18px rgb(250, 250, 55)
}


.card3{
    transition: all 200ms ease-in-out;
} 
.card3:hover {
      transform: translateY(-1rem);
      box-shadow: 2px 3px 18px rgb(255, 96, 96)
}


.card4{
  transition: all 200ms ease-in-out;
} 
.card4:hover {
    transform: translateY(-1rem);
    box-shadow: 2px 3px 18px rgb(109, 238, 109)
}



/* ////////////////////////////////////   CARD14  ////////////////////////////////////////////// */

.flip-card {
  background-color: transparent;
  width: 250px;
  height: 250px;
  perspective: 1000px;
  /* border-radius: 20px; */
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 20px;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

  border-radius: 20px;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #42508D;
  color: white;
  transform: rotateY(180deg);
}



.front-card-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.front-card-content h5{
    font-weight: bold;
}


/* /////////////////////////////////////CARD15////////////////////////////////////////////////////////// */

article.card {
  /* position: absolute;
  left: 50%;
  top: 50%;
  left: 50%; */
  width: 350px;
  height: 350px;
  /* transform: translate(-50%, -50%) translateZ(0); */
  border-radius: 3px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
  overflow: hidden;
}
article.card .thumb {
  width: auto;
  height: 260px;
  /* background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/397014/new-york-city.png") no-repeat center; */
  background-size: cover;
  border-radius: 3px;
}
article.card .infos {
  width: auto;
  height: 350px;
  position: relative;
  padding: 14px 24px;
  background: #fff;
  transition: 0.4s 0.15s cubic-bezier(0.17, 0.67, 0.5, 1.03);
}
article.card .infos .title {
  position: relative;
  margin: 10px 0;
  letter-spacing: 3px;
  color: #152536;
  font-family: 'Grotesque Black', sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  text-shadow: 0 0 0px #32577f;
}
article.card .infos .flag {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 35px;
  height: 23px;
  /* background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/397014/flag.png") no-repeat top right; */
  display: inline-block;
}
article.card .infos .date, article.card .infos .seats {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 0.85rem;
  color: rgba(21, 37, 54, .7);
  font-family: 'Grotesque', sans-serif;
}
article.card .infos .seats {
  display: inline-block;
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  opacity: 0;
  transition: 0.5s 0.25s cubic-bezier(0.17, 0.67, 0.5, 1.03);
}
article.card .infos .txt {
  font-family: 'Merriweather', sans-serif;
  line-height: 2;
  font-size: 0.95rem;
  color: rgba(21, 37, 54, .7);
  opacity: 0;
  transition: 0.5s 0.25s cubic-bezier(0.17, 0.67, 0.5, 1.03);
}
article.card .infos .details {
  position: absolute;
  left: 0;
  left: 0;
  bottom: 0;
  margin: 10px 0;
  padding: 20px 24px;
  letter-spacing: 1px;
  color: #4e958b;
  font-family: 'Grotesque Black', sans-serif;
  font-size: 0.9rem;
  text-transform: uppercase;
  cursor: pointer;
  opacity: 0;
  transition: 0.5s 0.25s cubic-bezier(0.17, 0.67, 0.5, 1.03);
}
article.card:hover .infos {
  transform: translateY(-260px);
}
article.card:hover .infos .seats, article.card:hover .infos .txt, article.card:hover .infos .details {
  opacity: 1;
}



